/* Анонс "Последние статьи на блоге" announcements-articles */
.announcements-articles {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 0 160px;
  background-color: #eaf2f9;
  background-image: url("../img/bg/river.png");
  background-size: 100%;
  background-position: bottom center;
  overflow: hidden;
  background-repeat: no-repeat;
}

.announcements-articles__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 0;
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 950px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 580px) {
    grid-template-columns: auto;
  }
}
