/* Кому мы продаём buyers-groups */
.buyers-groups {
  padding: 0 0 80px;
}

.buyers-groups__list {
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 0;
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 900px) {
    gap: 40px;
    grid-template-columns: auto;
  }
}
