/* Кому мы продаём buyers-groups */
.buyers-groups {
  padding: 0 0 140px;
  position: relative;
  overflow: hidden;

  &::after {
  content: "";
  position: absolute;
  background-image: url("../img/texture/forest-linen.svg");
  width: 100%;
  display: block;
  height: 127px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
}

.buyers-groups__list {
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  padding: 0;
  max-width: 1110px;
  margin: 0 auto;

  @media (max-width: 900px) {
    gap: 40px;
    grid-template-columns: auto;
  }
}
