/* Шапка сайта page-header */
.page-header {
  padding: 15px 0;
  background-color: #ffffff;

  @media (max-width: 992px) {
    background-color: #EFF1EB;
    position: fixed;
    width: 100%;
    z-index: 11;
  }
}

.page-header .wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (max-width: 992px) {
    grid-template-columns: auto auto auto;
  }

  @media (max-width: 560px) {
    grid-template-columns: auto auto;
  }
}

.page-header__social {
  margin: 0 auto;
  min-width: 100px;

  @media (max-width: 992px) {
    display: none;
  }
}

.page-header__phone {
  margin: 0 auto;
  min-width: 165px;
  text-align: center;

  @media (max-width: 560px) {
    display: none;
  }
}

.page-header__button {
  @media (max-width: 992px) {
    display: none;
  }
}
