/* Акции page-stock */
.page-stock {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 0 160px;
  background-color: #f0f1eb;

  & .title {
    margin-bottom: 35px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/texture/forest-white.svg");
    width: 100%;
    display: block;
    height: 127px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.page-stock__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 75px;
}
