/* Галерея "Примеры работ" works-gallery */
.works-gallery {
  background-color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 0 160px;
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/texture/forest-lavenda.svg");
    width: 100%;
    display: block;
    height: 127px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.works-gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  margin-bottom: 65px;

  @media (max-width: 950px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 580px) {
    grid-template-columns: auto;
  }
}
