/* Кнопки button, button--transparent, button-icon */
.button {
  font-family: "montserrat-sw", sans-serif;
  background: #edcd28;
  border-radius: 50px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  max-width: 350px;
  letter-spacing: 2px;

  @media (max-width: 640px) {
    letter-spacing: 1px;
  }
}

.button--transparent {
  background-color: transparent;
  border: 1px solid #596f1d;
  border-radius: 50px;
  color: #596f1d;
}

.button--arrow {
  font-size: 0;
  line-height: 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;

  & img {
    position: absolute;
    width: 16px;
    height: 13px;
  }
}
