.link {
  font-family: "montserrat-sw", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: overline;
  color: #596e1d;
}
