.logo {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px auto;
  align-items: center;
  max-width: 370px;

  @media (max-width: 650px) {
    grid-template-columns: auto;
  }
}

.logo__description {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  padding-left: 10px;
  border-left: 2px solid #000000;

  @media (max-width: 650px) {
    display: none;
  }
}
