.navigation {
  @media (max-width: 992px) {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    gap: 20px;
    padding-top: 70px;
    background-color: #EFF1EB;
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto auto auto;
  align-items: center;
  margin: 0 auto;

  @media (max-width: 992px) {
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
  }
}

.navigation__item {
  @media (max-width: 992px) {
    text-align: center;
  }
}

.navigation__link {
  text-decoration: none;
  font-family: "montserrat-sw", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;

  @media (max-width: 992px) {
    font-size: 22px;
  }

  @media (max-width: 1200px) {
    font-size: 14px;
    padding: 10px 10px;
  }

  &:hover {
    color: #93894a;
  }
}

.navigation__phone {
  display: none;

  @media (max-width: 560px) {
    display: block;
    margin: 0 auto;
  }
}

.navigation__phone .phone {
  font-size: 22px;
  text-align: center;
  padding: 0;
  margin: 0;

  &::before {
    display: none;
  }
}
