.products-card {
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}

.products-card__photo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  object-fit: cover;
}

.products-card__details {
  padding: 25px;
  position: relative;
  padding-top: 0;
}

.products-card__link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.products-card__name {
  margin: 0;
  margin-bottom: 5px;
}

.products-card__description {
  margin: 0;
}
