.promo-mini {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border-radius: 32px 0;
  padding: 35px 65px;
  background-color: #fff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: 1100px) {
    background-color: #f0f1eb;
    padding: 20px 40px 20px 50px;
  }

  @media (max-width: 520px) {
    grid-template-columns: auto;
    padding: 40px;
  }

  & img {
    @media (max-width: 520px) {
      width: 140px;
      height: auto;
      margin: 0 auto;
      display: block;
    }
  }

  & .link {
    display: inline-block;
    text-decoration: underline;
  }
}
