.promo {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: auto auto auto;

  @media (max-width: 1100px) {
    grid-template-columns: auto auto;
    align-items: baseline;
  }

  @media (max-width: 720px) {
    grid-template-columns: auto;
  }

  & .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    max-width: 350px;

  }

  & .button {
    max-width: 400px;
    width: 100%;
    padding: 16px 20px 15px;
  }
}

.promo__text {
  font-size: 16px;
  line-height: 140%;
  max-width: 400px;

  @media (max-width: 720px) {
      max-width: 100%;
    }
}
