/* Слайд _slider-card */
.slider-card {
  position: relative;
  overflow: hidden;

  &::after {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.92) 9.44%, rgba(0, 0, 0, 0.48) 79.24%);
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
  }
}

.slider-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  display: block;
  position: absolute;
}

.slider-card__details {
  position: relative;
  z-index: 9;
  top: 0;
  left: 0;
  padding: 70px 100px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media (max-width: 1200px) {
    padding: 45px 50px;
  }

  @media (max-width: 420px) {
    padding: 30px;
  }

  & .title {
    max-width: 606px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 36px;
    color: #ffffff;

    @media (max-width: 1200px) {
      font-size: 33px;
      margin-bottom: 18px;
      max-width: 100%;
    }

    @media (max-width: 900px) {
      font-size: 25px;
      margin-bottom: 15px;
    }

    @media (max-width: 420px) {
      font-size: 20px;
    }
  }

  & p {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    max-width: 427px;
    color: #ffffff;

    @media (max-width: 1200px) {
      font-size: 14px;
      max-width: 100%;
    }
  }

  & .subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 27px;

    @media (max-width: 1200px) {
      font-size: 16px;
      margin-bottom: 18px;
    }

    @media (max-width: 900px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  & .link {
    color: #edcd28;
    margin-top: 10px;

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
}
