/* карточка анонса акции на главной stock-card */
.stock-card {
  position: relative;
  background-color: #000000;
}

.stock-card__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.stock-card__description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 45px 35px;
  color: #ffffff;

  & .link {
    color: #edcd28;
    margin-top: 10px;
  }
}

.stock-card__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.stock-card__text {
  margin-top: 0;
  margin-bottom: 5px;
}
