.subtitle {
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 35px;

  @media (max-width: 700px) {
    font-size: 20px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }
}
