/* Заголовки */
.title {
  font-family: "montserrat-sw", sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 17px;
  display: block;
  color: inherit;
}
