/* Заголовки */
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: block;
}
