/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "montserrat-sw";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "montserrat-sw";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "montserrat-sw";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "montserrat-sw";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2");
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "montserrat-sw";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2");
}

/* oswald-700 - latin_cyrillic */
@font-face {
  font-family: 'oswald-sw';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/oswald-v36-latin_cyrillic-700.woff2') format('woff2');
}
